body {
  font-family: Arial, sans-serif;  /* Set the font family */
  margin: 20px;                  /* Add margin around the body */
  background-color: #000000;

}

h1 {
  color: white;                   /* Change heading color */
}
h3 {
  color: white;                   /* Change heading color */
}
div {
  color: white;                   /* Change heading color */
  text-align: center;
}
p {
  line-height: 1.5;                /* Adjust line spacing */
  color: white;
}

img {
  border-radius: 5px;             /* Add rounded corners to images */
}
.image-container {
  background-image: url("https://drive.google.com/file/d/18fB_O_d3LSK9kHuSOOYbfy4WWAG1z2Wm/view?usp=sharing");  /* Replace with your image path */
  background-size: cover;  /* Ensure image fills the container */
  height: 400px;  /* Adjust height as needed */
  width: 600px;  /* Adjust width as needed */
  position: relative;  /* Needed for pseudo-element layering */
}

.image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);  /* Adjust opacity for desired tint strength */
}
