body {
  font-family: Arial, sans-serif;  /* Set the font family */
  margin: 20px;                  /* Add margin around the body */
  background-color: #001828;

}

h1 {
  color: blue;                   /* Change heading color */
}

p {
  line-height: 1.5;                /* Adjust line spacing */
}

img {
  border-radius: 5px;             /* Add rounded corners to images */
}
